body {
  background-color: #ececec;
}

.app-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.login-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .login-card {
    width: 50vw;
    text-align: center;
    margin: 1rem;
  }
}

.custom-input {
  margin: 0.5rem;
}
.list-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .input-wrapper {
    display: flex;
    flex-direction: row;
  }

  .list {
    margin: 1rem;
    .list-item {
      background-color: white;
      padding: 1rem;
      &.done {
        background-color: grey;
        text-decoration: line-through;
      }
    }
  }
}
